@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(223.8136 0.0004% 98.0387%);
  --foreground: hsl(0 0% 0%);
  --card: hsl(223.8136 -172.5242% 100.0000%);
  --card-foreground: hsl(223.8136 0.0000% 9.5246%);
  --popover: hsl(223.8136 -172.5242% 100.0000%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(225.7181 51.8948% 50.4104%);
  --primary-foreground: hsl(213.7504 96.4852% 96.7906%);
  --secondary: hsl(223.8136 0.0001% 92.1478%);
  --secondary-foreground: hsl(223.8136 0.0000% 13.1499%);
  --muted: hsl(223.8136 0.0002% 96.0587%);
  --muted-foreground: hsl(223.8136 0.0000% 32.3067%);
  --accent: hsl(215.5574 59.9767% 91.1722%);
  --accent-foreground: hsl(236.5829 64.2250% 21.4383%);
  --destructive: hsl(358.8683 74.6580% 50.3424%);
  --destructive-foreground: hsl(213.7504 96.4852% 96.7906%);
  --border: hsl(223.8136 0.0001% 89.5577%);
  --input: hsl(223.8136 0.0001% 92.1478%);
  --ring: hsl(225.7181 51.8948% 50.4104%);
  --chart-1: hsl(215.5574 59.9767% 91.1722%);
  --chart-2: hsl(222.4034 59.0500% 75.0997%);
  --chart-3: hsl(229.0878 49.7479% 60.9807%);
  --chart-4: hsl(225.7181 51.8948% 50.4104%);
  --chart-5: hsl(236.5829 64.2250% 21.4383%);
  --sidebar: hsl(223.8136 -172.5242% 100.0000%);
  --sidebar-foreground: hsl(0 0% 0%);
  --sidebar-primary: hsl(225.7181 51.8948% 50.4104%);
  --sidebar-primary-foreground: hsl(213.7504 96.4852% 96.7906%);
  --sidebar-accent: hsl(215.5574 59.9767% 91.1722%);
  --sidebar-accent-foreground: hsl(236.5829 64.2250% 21.4383%);
  --sidebar-border: hsl(223.8136 0.0001% 89.5577%);
  --sidebar-ring: hsl(225.7181 51.8948% 50.4104%);
  --font-sans: Geist, sans-serif;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0.25px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: oklch(0.2571 0.1161 272.24);
  --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-sm: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-md: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-lg: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(223.8136 -172.5242% 100.0000%);
  --card: hsl(223.8136 0.0000% 9.5246%);
  --card-foreground: hsl(223.8136 0.0001% 92.9405%);
  --popover: hsl(223.8136 0.0000% 9.5246%);
  --popover-foreground: hsl(223.8136 -172.5242% 100.0000%);
  --primary: hsl(225.7181 51.8948% 50.4104%);
  --primary-foreground: hsl(213.7504 96.4852% 96.7906%);
  --secondary: hsl(223.8136 0.0000% 13.1499%);
  --secondary-foreground: hsl(223.8136 0.0001% 92.1478%);
  --muted: hsl(223.8136 0.0000% 11.3040%);
  --muted-foreground: hsl(223.8136 0.0000% 64.4710%);
  --accent: hsl(223.8136 0.0000% 19.8916%);
  --accent-foreground: hsl(215.5574 59.9767% 91.1722%);
  --destructive: hsl(358.7594 101.8439% 69.8357%);
  --destructive-foreground: hsl(213.7504 96.4852% 96.7906%);
  --border: hsl(223.8136 0.0000% 14.0871%);
  --input: hsl(223.8136 0.0000% 19.8916%);
  --ring: hsl(225.7181 51.8948% 50.4104%);
  --chart-1: hsl(215.5574 59.9767% 91.1722%);
  --chart-2: hsl(222.4034 59.0500% 75.0997%);
  --chart-3: hsl(229.0878 49.7479% 60.9807%);
  --chart-4: hsl(225.7181 51.8948% 50.4104%);
  --chart-5: hsl(236.5829 64.2250% 21.4383%);
  --sidebar: hsl(223.8136 0.0000% 9.5246%);
  --sidebar-foreground: hsl(223.8136 -172.5242% 100.0000%);
  --sidebar-primary: hsl(225.7181 51.8948% 50.4104%);
  --sidebar-primary-foreground: hsl(213.7504 96.4852% 96.7906%);
  --sidebar-accent: hsl(223.8136 0.0000% 19.8916%);
  --sidebar-accent-foreground: hsl(215.5574 59.9767% 91.1722%);
  --sidebar-border: hsl(223.8136 0.0000% 14.0871%);
  --sidebar-ring: hsl(225.7181 51.8948% 50.4104%);
  --font-sans: Geist, sans-serif;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0.25px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: oklch(0.2571 0.1161 272.24);
  --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-sm: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-md: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-lg: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}